header { margin-top: 2em;
        text-align: left;
  	    display: flex;
  	    height: 100px;
        min-width: 120px;
        align-items: center;
        color: #fff;
        text-shadow: #000 0 0 .2em;
         font: bold calc(0.5em + 1 * (100vw - 120px) / 100) 'Dancing Script', cursive, fantasy;
       
}


form {
	    height: 1px;
  	    max-width: 330px;
  	    padding: 0px;
  	    margin: 0 auto;
        text-align: center;
        align-items: center;
}
.quadrati{
	    text-align: center;
        align-items: center;
        position: absolute;
  	    padding: 2px;
   	    overflow: hidden;
        clip: rect(0,0,0,0);
        white-space: nowrap;
       -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        border: 0;
}
.container {
	    margin-top: 3em;
	    text-align: center;
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
        width: 60%;
}
.dati {
	    text-align: center;
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
        width: 30%;
}
.center {
     	margin-top: 2em;
	    text-align: center;
 	    align-items: center;
 	    }
 	    
.progetti{
		text-align: center;
 	    align-items: center;
 	    margin-left: 320px;
		margin-right: 100px;
		width: 60%;
}
body{
	    align-items: center;
        background: no-repeat left/cover url(/images/sfondo.jpg);
}
.casella{
	 position : relative;
	 margin-left: 350px;
		text-align: center;
		margin-top: 13em;
	    align-items: center;
        width: 80%;
        height: 40px;
        border-radius: 3px;
        background-color: white;
  color: black;
  border: 3px solid #00fef6; 
}
#register{
	 position : relative;
        margin-top:2em;
        left : 170px;
          width: 100%; 
        right : 20px;
}
#tasto{
        position : relative;
        margin-top: 1em;
        left : 180px;
        right : 20px;
          width: 100%; 
}

#updateProject{
        position : relative;
        margin-top: 3em;
        left : -80px;
        right : 20px;
          width: 100%; 
}


#share{
        position : relative;
        margin-top: 3em;
        left : 180px;
        right : 20px;
          width: 100%; 
}

#profilo{
	 margin-top: 2em;
          width: 40%; 
}
#deleteTask{                  
        position : relative;
         margin-top: 2em;
          width: 70%; 
        left : 160px;
        right : 10px;
}

#assegnaTask{
	 position : relative;
         margin-top: 4.5em;
           width: 70%; 
        left : 160px;
        right : 10px;
}
#updateTask{
	     position : relative;
         margin-top: 2em;
          width: 70%; 
        left : 300px;
        right : 10px;
}

#tag{
	 position : relative;
         margin-top: 4.5em;
          width: 70%; 
        left : 300px;
        right : 10px;
}

#back{
        position : relative;
        margin-top: 5em;
        left: 160px;
        right : 20px;
        width: 20%;
}

.commento{
	 position : relative;
	  width: 100%;
	  
}

#saveComment{
	 position : relative;
	   margin-top: 1em;
        left:400px;
        right : 20px;
	 width: 30%;
	  border: 2px solid #0004fe; 
}
.tabellaProfilo{
	width: 100%;
}



.lista{  position : relative;
	     margin-top: 2em;
	     text-align: center;
	      width: 90%;
}
.elenco{
	 margin-top: 1em;
	text-align: center;
	align-items: center;
	margin-left: 160px;
	margin-right: 100px;
	width: 40%;
}


	
.pulsante{
	background-color: white;
  color: black;
  border: 2px solid #e8ff13; 
	border-radius: 12px;
}
	
	
	
.button {
  float: left;
  border: 1px solid green;
}

.btn-group .button {
	 margin-top: 5em;
 	 background-color: #9d4ee6f5;
 	 border: 1px solid #ffffff;
 	 color: white;
  	padding: 10px 18px;
  	text-align: center;
  	text-decoration: none;
 	 display: inline-block;
  font-size: 15px;
  cursor: pointer;
  float: left;
   width: 50%;
   height: 40px;

}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #3d16c7c7;;
}



footer {
        border-top-style: outset;
        margin-top: 2em;
	}