<!DOCTYPE html>
<html lang="en"
      
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(taskmanager)">
    <meta charset="UTF-8">
    <title>TaskManager</title>
</head>
<body>
<header th:replace="fragments/base.html :: intestazione" ></header>
<div class = "container">
<h1 th:text="'Welcome, Admin ' + ${user.firstName} + '!'"></h1>
<h4><a href="/admin/users">All Users List</a></h4>
</div>
</body>
</html>