<!DOCTYPE html>
<html lang="en"
     
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(taskmanager)">
    <meta charset="UTF-8">
    <title>TaskManager</title>
</head>
<body>
<header th:replace="fragments/base.html :: intestazione" ></header>
<div class="center">
<h1>All Users</h1>
	<table class="progetti">
		<thead>
		<tr>
			<th  th:style="'color:#78ff00'"><strong><font size="5">Username</font></strong></th>
			<th  th:style="'color:#78ff00'"><strong><font size="5">First Name</font></strong></th>
			<th  th:style="'color:#78ff00'"><strong><font size="5">Last Name</font></strong></th>
			<th  th:style="'color:#78ff00'"><strong><font size="5">Delete</font></strong></th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="credentials : ${credentialsList}">
			<td><a th:href="'/admin/users/' + ${credentials.userName} + '/projects'" th:text="${credentials.userName}"></a></td>
			<td th:text="${credentials.user.firstName}"></td>
			<td th:text="${credentials.user.LastName}"></td>
			<td>
				<form method="POST" th:action="@{/admin/users/{username}/delete(username=${credentials.userName})}">
					<button  class="pulsante" id="delete" type="submit" name ="submit" value="value">DELETE</button>
				</form>
			</td>
		</tr>
		
		</tbody>
		
	</table>
	</div>
</body>
</html>