<!DOCTYPE html>
<html lang="en"
    
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(taskmanager)">
    <meta charset="UTF-8">
    <title>TaskManager</title>
</head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>
<div class="center">
	<h1 th:text="'Welcome, ' + ${user.firstName} + '!'"></h1>
		<h4><a href="/projects">My Projects</a></h4>
		<h4><a href="/shared">Shared with me</a></h4>
		<h4><a href="/projects/add">Create new Project</a></h4>
		<h4><a href="/users/me">Profile</a></h4>
		<h4><a href="/logout">Logout</a></h4>
		<p> <a href="/admin">Only for admin</a></p>
</div>
</body>
</html>