<!DOCTYPE html>
<html lang="en"
     
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(taskmanager)">
	<meta charset="UTF-8">
    <title>TaskManager</title>
</head>

<body>
<header th:replace="fragments/base.html :: intestazione" ></header>
<div class="center">
<h1>My Shared Projects</h1>
<div>
	<table class="progetti">
		<thead>
		<tr>
			<th th:style="'color:#78ff00'"><strong><font size="5">Owner</font></strong></th>
			<th th:style="'color:#78ff00'"><strong><font size="5">Name</font></strong></th>
			<th th:style="'color:#78ff00'"><strong><font size="5">Description</font></strong></th> 
		</tr>
		</thead>
		<tbody>
		<tr th:each="project : ${projectsSharedList}">
				<td th:text="${project.owner.firstName}" th:style="'color:green'">..</td>
				<td> <a th:href="'/projects/' + ${project.id}" th:text="${project.name}" >..</a></td>
				<td th:text="${project.description}" th:style="'color:green'">...</td>
		</tr>
		</tbody>
	</table>
</div>
</div>
</body>
</html>
