<!DOCTYPE html>
<html lang="en"
      
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(taskmanager)">
	<meta charset="UTF-8">
    <title>TaskManager</title>
</head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>
<div class="center">
<h1 >Projects</h1>
	<table class="progetti">
		<thead>
		<tr>
			<th th:style="'color:#78ff00'"><strong><font size="5">Name</font></strong></th>
			<th th:style="'color:#78ff00'"><strong><font size="5">Description</font></strong></th>
			<th th:style="'color:#78ff00'"><strong><font size="5">Delete</font></strong></th> 
		</tr>
		</thead>
		<tbody>
			<tr th:each="project : ${projectsList}">
				<td th:text="${project.name}">...</td>
				<td th:text="${project.description}">...</td>
				<td>
				<form method="POST" th:action="@{/admin/users/{username}/{nameProject}/delete(username=project.owner.userName,nameProject=${project.name})}">
					<button class="pulsanti"type="submit" name ="submit" value="value">DELETE</button>
				</form>
				</td>
				</tr>
		</tbody>
	</table>
</div>
</body>
</html>
