<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(taskmanager)">
    <meta charset="UTF-8">
</head>
<body>
 
 <div class="container">
<header th:replace="fragments/base.html :: intestazione" ></header>
<h1 th:text="${project.name}"></h1>
<h4 th:text="${project.description}" th:style="'color:green'"></h4>
	<h3>Tasks</h3>
		<ul class="elenco">
			<li class="elenco" th:each="task : ${project.tasks}">
			<div class="center">
				<form method="POST" th:action="@{/tasks/{taskId}/delete(taskId=${task.id})}">
					<button class="pulsante" id ="deleteTask"type="submit" name ="submit" value="value">DELETE</button>
				</form>
					<form method ="GET" th:action ="@{'/projects/' + ${project.id} + '/' + ${task.id} + '/update'}">
  			         <button class="pulsante" id="updateTask" type="submit"> Update Task </button>  
	            </form>
				<form method="GET" th:action="@{'/projects/' + ${project.id} + '/' + ${task.id} + '/assigns'}">
					<button class="pulsante" id ="assegnaTask"type="submit" name ="submit" value="value">Assigns To</button>
				</form>
	            <form method ="GET" th:action ="@{'/projects/' + ${project.id} + '/' + ${task.id} + '/tag'}">
  			         <button  class="pulsante" id="tag" type="submit"> Assigns Tag </button>  
	            </form>
				</div>
				<div class="center">
				<a th:href="'/tasks/' + ${task.id}">
				 <span  th:text="${task.name}" th:style="'color:blue'" ></span>
				 </a>
				<div th:text="${task.description}" th:style="'color:blue'" >...</div>
				</div>
			</li>
		</ul>
	<div th:if="${members.size() > 0}">
		<h3>Shared with</h3>
		<ul class="elenco">
			<li class="elenco" th:each="member : ${members}">
				<div th:text="${member.firstName} + '  ' + ${member.lastName}"></div>
			</li>
		</ul>
	</div>
	</div>
		<div class="btn-group">
		<form action="/home">
  			<button  class = "button"  type="submit"> Back </button>  
		</form>
		<form method ="GET" th:action ="@{'/projects/' + ${project.id} + '/update'}">
  			<button class = "button"   type="submit"> Update Project </button>  
		</form>
		<form th:action = "@{'/projects/' + ${project.id} + '/task'}">
  			<button class = "button" type="submit"> Create New Task</button>  
		</form>
		<form th:action ="@{'/projects/' + ${project.id} + '/share'}">
  			<button  class = "button"  type="submit"> Shared Project </button>  
		</form>
</div>
		
</body>
</html>

