<!DOCTYPE html>
<html lang="en"
     
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(taskmanager)">
    <title>TaskManager</title>
</head>
<body>
<div class="center">
<header th:replace="fragments/base.html :: intestazione" ></header>
	<h1>Congratulations for registering!</h1>
	<h2>Back to <a th:href="@{/index}">Welcome Page</a></h2>
</div>
</body>
</html>