<!DOCTYPE html>
<html lang="en"
    
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(taskmanager)">
    <meta charset="UTF-8">
    <title>TaskManager</title>
</head>
<body>
 <div class="center">
 
	<div class="center">
	<form  th:action ="@{'/tasks/' + ${task.id} + '/comment'}" name="casellaCommenti" method="POST" >
   <input class="casella" type="text" name="casellaCommenti" placeholder="Text" size="40" maxlength="60">
   <div>
   	<button class="pulsante" id="saveComment" type="submit"> Save Comment </button>  
   	</div>
	</form>
	</div>
	
<header th:replace="fragments/base.html :: intestazione" ></header>
<h1 th:text="${task.name}"></h1>
<h4 th:text="${task.description}" th:style="'color:green'"></h4>


<h4>Assigns To: </h4>
<div th:if="${task.getUser()}">
	<span th:text="${task.user.firstName}" th:style="'color:green'"></span>
</div>
<div th:unless = "${task.getUser()}"> The task has not been assigned to anyone </div>
<div>
<div th:if="${tags.size() > 0}">
		<h3>Tag:</h3>
		<ul >
			<li th:each="tag : ${tags}">
				<div th:text="${tag.name} + '  ' + ${tag.color} + '  '+ ${tag.description}"></div>
			</li>
		</ul>
	</div>
	<div th:if="${comments.size() > 0}">
		<h3>Comments: </h3>
		<ul >
			<li  th:each="comment : ${comments}">
				<div  th:text="${comment.text}"></div>
			</li>
		</ul>
	</div>
	</div>
	<form action="/home">
  			<button class="pulsante" id="back" type="submit"> Back </button>  
		</form>
</div>
</body>
</html>
