<!DOCTYPE html>
<html lang="en"
      
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(taskmanager)">
    <title>TaskManager</title>
</head>
<body>
<div class="center">
<header th:replace="fragments/base.html :: intestazione" ></header>
	<h1>Congratulations have been updated correctly!</h1>
	<h2>Back home <a th:href="@{/home}">Home</a></h2>
</div>
</body>
</html>