
<!DOCTYPE html>
<html lang="en"
     
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(taskmanager)">
    <title>TaskManager</title>
</head>
<body>
<header th:replace="fragments/base.html :: intestazione" ></header>
  <div class="dati">
<h1>Your Profile</h1>
    <table class="tabellaProfilo">
        <tr>
            <td>Username</td>
            <td th:text="${credentials.userName}">...</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td th:text="${user.firstName}">...</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td th:text="${user.lastName}">...</td>
        </tr>
        <tr>
            <td>Role</td>
            <td th:text="${credentials.role}">...</td>
        </tr>
        
       <tr>
            <td>Registered at: </td>
           <td th:text="${user.creationTimestamp}">...</td> 
        </tr>
        <tr>
            <td>Last Update at:</td>
          <td th:text="${user.lastUpdateTimestamp}">...</td>
        </tr>
    </table>
    
    <form action ="/user/update">
  			<button class="pulsante" id="profilo" type="submit"> Update Profile </button>  
		</form>
    </div>
</body>
</html>